* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que padding y border se incluyan en el tamaño de los elementos */
    font-family: 'Inter', sans-serif;
  }
  
  body {
    background-color: #f4f4fc;
    min-height: 100vh;
  }
  
  .contenido {
    display: flex;
    width: 100%;
    align-items: flex-start;
    height: 100vh;
    gap: 20px;
    padding: 20px; /* Añade un padding para evitar que los elementos toquen los bordes de la pantalla */
  }
  
  .cajatexto {
    margin-top: 100px;
    width: 100%;
    height: 15em;
    border: none;
    background-color: #f4f4fc;
    cursor: pointer;
    font-size: 32px;
    font-weight: 400;
    outline: none;
    font-family: 'Inter', sans-serif;
    
  }
  
  .cajatexto::placeholder {
    color: #0A3871;
  }
  
  .parte1 {
    height: 50px;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    margin: 0; 
  }
  .contenedorcajatexto{
    
  }
  .seccion1 {
    display: flex;
    flex-direction: column;
    width: 100%; /* Asegura que la sección ocupe todo el ancho disponible */
  }
  
  .seccion2 {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Distribuye el contenido dejando espacio entre ellos */
    height: 100%;
    background-color: #ffffff;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
    padding: 20px;
    margin-top: 20px;
    max-width: 100%; /* Limita el ancho máximo al 100% */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
  }
  
  .contenedor-resultado p {
    color: #495057;
    font-size: 25px;
  }
  
  .btn-encriptar,
  .btn-desencriptar,
  .btn-copiar {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    margin-top: 10px; /* Añade un margen para evitar que los botones se peguen entre sí */
  }
  
  .btn-encriptar {
    background-color: #0A3871;
    color: white;
    border: none;
  }
  
  .btn-desencriptar {
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
  }
  
  .btn-copiar {
    background-color: #ffffff;
    color: #0A3871;
    border: 1px solid #0A3871;

  }
  
  .contenedor-parrafo {
    text-align: center;
    margin-top: 20px; /* Añade margen superior para separar el párrafo del resto del contenido */
  }
  
  .contenedor-parrafo h3 {
    font-size: 24px;
    font-weight: 700;
    color: #343A40;
  }
  
  .contenedor-parrafo p {
    font-weight: 400;
    font-size: 16px;
    color: #495057;
    margin-top: 10px;
  }
  
  .contenedormunieco {
    padding-top: 50px;
    box-sizing: border-box;
  }
  
  .contenedor-resultado {
    margin-left: 25px;
    width: 320px;
    height: 450px;
  }
  
  .contenedor-botones {
    display: flex;
    gap: 10px; /* Añade espacio entre los botones */
  }
  
  .ocultar {
    display: none;
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .contenido {
      flex-direction: column;
      align-items: center;
      height: auto;
      padding: 20px; /* Mantén el padding para evitar que los elementos se toquen en pantallas pequeñas */
    }
  
    .seccion1 {
      order: 1; /* Mueve la seccion1 arriba */
      margin-bottom: 20px; /* Añade un margen inferior para separar seccion1 de seccion2 */
    }
  
    .seccion2 {
      order: 2; /* Seccion2 queda debajo de seccion1 */
      max-width: 100%; /* Asegura que el contenedor no se desborde en pantallas pequeñas */
      width: 688px; /* Ajusta el ancho automáticamente al contenido */
      height: auto;
      padding: 10px; /* Reduce el padding para pantallas más pequeñas */
      justify-content: flex-start; /* Justifica el contenido a la izquierda */
      align-items: center;

    }
  
    .contenedormunieco {
      display: none; /* Oculta el muñeco en pantallas pequeñas */
    }
    .btn-copiar {
        background-color: #ffffff;
        color: #0A3871;
        border: 1px solid #0A3871;
        flex-direction: column;
        max-width: 100%;
        width: 624px;
      }
      .logo {
        margin: 0;
        position: relative;
        left: 0; /* Elimina la margin auto para que no esté centrado */
      }
      .contenedor-resultado {
        height: auto;
      }
  }
  
  @media (max-width: 375px) {
    .contenedor-botones {
      flex-direction: column;
      gap: 10px; /* Añade espacio entre los botones al apilarlos verticalmente */
    }
    .logo {
        margin: 0; /* Elimina la margin auto para que no esté centrado */
      }
    .btn-copiar {
        background-color: #ffffff;
        color: #0A3871;
        border: 1px solid #0A3871;
        flex-direction: column;
        max-width: 100%;
        width: 279px;
      }
      .contenedor-resultado {
        height: auto;
      }
  }
  
